body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}


/* main */

main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iphone-img img{
    border-radius: 20px;
    width: 200px;
    height: 250px;
    margin-left: 200px;
    margin-top: 50px;
}
/* nav bar */
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 61, 75);
    color: seashell;
    
}
nav a{
    text-decoration: none;
    color: seashell;
    font-size: 1.5em;
}
nav li
{
    margin-left: 20px;
}
.link
{
    display: flex;
margin-top: 15px;
    
}


/* background part */
.container
{  
    
    background-color: #FFFFFF;
    width: 900px;
    padding: 30px;
    margin-top: 21px;
    
    
}
.main-product
{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    
}


/* hover */
.transition:hover
{
transform: scale(1.5);
transition: transform 1.5s ease-in-out;
}



/* button */

.button
{
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 2px solid rgb(118, 186, 212);
    background-image: linear-gradient(rgb(11, 186, 255), rgb(0, 110, 255));
    padding: 10px;
    border-radius: 7px;
}
.logo ul
{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
.logo ul li
{
    
    margin-left: 25px;

}

/* Popular Collection */
.section-title{
    text-align: center;
}
.popular-collections
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    } 
.product
{
    background-color: rgb(230, 231, 247);
    padding: 0%;
    border-radius: 20px;
    margin: 10px;
    filter: drop-shadow(0px 6px rgb(193, 195, 204));

}
.ProductOfImage img{
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 33px;
}
.product-detail
{
    margin-left: 10px;
}


.see-more{
color: rgb(0, 0, 0);
    text-decoration: none;
    text-align :right; 
    
}
.fa-star .fa-star-half-alt
{
font-size: 12px;
}
.fa-star.filled 
{

color: #FFC014;
}
.fa-star-half-alt
{

    color: #FFC014;
    }

.fa-star.empty
{
    color: #AEAEAE;
}
.commit-part
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    
}
.commit img
{
   display: flex;
   border-radius: 20px;
}
footer
{
    text-align: center;
    color: white;
    background-color: rgb(12, 4, 44);
    width: 100%;
}

/* Media Queries */


/* Media Queries */
  
    /* Media Queries for mobile device*/
    @media only screen and (max-width: 688px){
        .container
        {
           width: 100%;
        }
        .main-product,  .commit-part
        {
            grid-template-columns: repeat(1, 1fr);
              }
              .popular-collections
              {
                grid-template-columns: repeat(1, 1fr);
                
              }     
        .product, .commit-part
        {
            text-align: center;
            
        }
    }
    
         /* for tablet device  */
       @media only screen and (min-width:688px) and (max-width:992px) {
           
        .container{
            width: 100%;
            
        }
         .popular-collections, .commit-part{
            grid-template-columns: repeat(2, 1fr);
        }
        .product, .commit-part{
            text-align: center;
            
        }
    }
    
    
